
.wrap {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.background {
  display: flex;
  height: 100%;
  width: 100%;
}

.left {
  background: black;
  width: 40%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left:before {
  content: '';
  position: absolute;
  background-image: linear-gradient(to right,#000,transparent);
  top: 0;
  bottom: 0;
  left: 100%;
  width: 40%;
}

.right {
  background: green;
  width: 60%;
  background: cover;
}

.wrap-container {
	margin: 10px 0;
	text-align: center;
  font-family: inherit;
  overflow: auto;
  max-height: 98vh;

}

.wrap-container::-webkit-scrollbar {
  overflow: hidden;
}

.name-title{
  margin-bottom: 3rem;
}

p{
  padding-bottom: 0.5rem;
}

img {
  height: 100%;
  width: 100%;
}
